/*******************************************************************

Copyright 2010, Adrian Laurenzi

This file is part of ImpactProbe.

ImpactProbe is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
at your option) any later version.

ImpactProbe is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with ImpactProbe. If not, see <http://www.gnu.org/licenses/>.

*******************************************************************/

html, body { 
    margin: 0;
    padding: 0px;
    border: none;
    font-family:sans-serif;
    font-size:13px;
}

/* forms */
.errors {
    font-weight:bold;
    color:#FF0000;
}
.success {
    font-weight:bold;
    color:#00CC00;
}
.date_field {
    width:25px;
    font-size:12px;
}

/* main */
#keywords_phrases, #deactivated_keywords_phrases {
    width:306px;
    height:80px;
    background-color:#317DFF;
}
#negative_keywords {
    width:306px;
    height:80px;
    background-color:#FF595C;
}
#rss_feeds, #deactivated_rss_feeds, #preloaded_rss_feeds {
    width:327px;
    height:90px;
}

#container {
    padding-left:10px; padding-right:10px; padding-bottom:10px;
}

#footer {
    width:100%; text-align:center; padding-bottom:10px;
}

#chart_div {
    z-index:1;
}

.table_header { background:#0000A9; color:#FFFFFF; }

/* tutorials */
#tutorials_menu {
    position:relative; overflow:hidden; float:right; margin-right:50px; width:260px; height:35px; border-left:1px solid #000; border-right:1px solid #000; border-bottom:1px solid #000; padding:5px; font-size:13px; background:#FFFFFF; z-index:999;
}
#tutorials_menu .icon { position:relative; float:left; width:25px; height:25px; padding:3px; }
#tutorials_menu .title { position:relative; float:left; width:215px; padding-left:5px; padding-top:8px; }
#tutorials_menu .text { position:relative; float:left; width:215px; height:25px; padding-left:5px; }
#tutorials_menu .links { position:relative; float:left; width:250px; margin-top:10px; padding:6px; }

/* Buttons/UI */
.button_noicon {cursor:pointer; padding: .4em .8em .4em 11px;text-decoration: none;position: relative; font-size:13px;}
.button_noicon_sm {padding: .2em .5em .2em 7px;text-decoration: none;position: relative; font-size:12px;}
.button_sm {padding: .2em .5em .2em 18px;text-decoration: none;position: relative; font-size:12px;}
.button_sm span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}
.button_lg {padding: .4em .8em .4em 20px;text-decoration: none;position: relative; font-size:13px;}
.button_lg span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}

ul#icons {margin: 0; padding: 0;}
ul#icons li {margin-left: 4px; position: relative; padding: 3px 0; cursor: pointer; float: left;  list-style: none;}
ul#icons span.ui-icon {float: left; margin: 0 3px;}

.bg_white { background:#FFFFFF; }
.bg_grey { background:#E1E1E1; }
.bg_red { background:#FF0000; }
.bg_light_blue { background:#D8ECF5; }