kohana/application/config/database.php
kohana/application/config/myconf.php

kohana/application/logs/*
!kohana/application/logs/.dir_placeholder

kohana/application/bootstrap.php

data/charts/*
data/lemur/docs/*
data/lemur/indexes/*
data/lemur/params/*
!data/charts/.dir_placeholder
!data/lemur/docs/.dir_placeholder
!data/lemur/indexes/.dir_placeholder
!data/lemur/params/.dir_placeholder

/index.php
